
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

section {
    padding: 60px 0;
}

.banner {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.banner h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about, .portfolio, .contact {
    background-color: #fff;
    text-align: center;
    padding: 80px 0;
}

.about h2, .portfolio h2, .contact h2 {
    color: #333;
    font-size: 30px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-image {
    flex: 1;
    margin-right: 20px;
}

.about-image img {
    max-width: 100%;
    height: auto;
}

.about-text {
    flex: 2;
    text-align: left;
}

.about-text p {
    margin: 0;
}

.portfolio ul {
    list-style: none;
    padding: 0;
}

.portfolio ul li {
    margin-bottom: 10px;
}

.portfolio ul li a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.portfolio ul li a:hover {
    background-color: #0056b3;
}

.contact ul {
    list-style: none;
    padding: 0;
}

.contact ul li a{
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.contact ul li a:hover {
    background-color: #777;
}